{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Emergency in Bengaluru
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>NIMHANS (National Institute of Mental Health and Neuro-Sciences)</h4>
                Contact Number: 080-2699 5000<br>
                <a class="link-info text-decoration-none" href="https://nimhans.ac.in/" target="_blank">https://nimhans.ac.in/</a>
            </li>
            <li class="list-group-item">
                <h4>Spandana Health Care</h4>
                Contact Number: 080-2332 2222<br>
                <a class="link-info text-decoration-none" href="http://www.spandanahealthcare.com" target="_blank">http://www.spandanahealthcare.com</a>
            </li>
            <li class="list-group-item">
                <h4>Medicover Hospitals - Department of Psychiatry</h4>
                Contact Number: 080-8884 4111<br>
                <a class="link-info text-decoration-none" href="https://www.medicoverhospitals.in/psychiatry-hospital-bangalore" target="_blank">https://www.medicoverhospitals.in/psychiatry-hospital-bangalore</a>
            </li>
            <li class="list-group-item">
                <h4>Hope Trust Bangalore</h4>
                Contact Number: 080-2344 2644<br>
                <a class="link-info text-decoration-none" href="https://hopetrustindia.com/" target="_blank">https://hopetrustindia.com/</a>
            </li>
            <li class="list-group-item">
                <h4>V-Care Psychiatry Clinic</h4>
                Contact Number: 080-4122 5888<br>
                <a class="link-info text-decoration-none" href="https://vcareclinic.in/" target="_blank">https://vcareclinic.in/</a>
            </li>
        </ul>
    </div>
</div>
{%endblock content%}